.container_12
{
	background: yellow;

}
h1
{
	font-family: sans-serif;
}
h4
{
	background: blue;
}
nav li
{
	display: inline;
	font-size: 15px;
}
aside
{
	background: green;
}
.primary
{
	background: #e3e3e3;
}
header
{
	background: grey;
	position: fixed;
	width: 100%;
}
.main
{
	margin: 30px 0;
}
section
{
	word-wrap: break-word;
}
body
{
	background: yellow;
}
footer
{
	background: pink;
}
#Plane
{
	background: orange;
	width: 450px;
	height: 200px;
}
#BoeingP8
{
	 height:350px;
	 width:1300px ;
}
#BoeingLogo
{
	height:60px;
	width:300px;
}
#History
{
	height: 200px;
	width:450px;
}
a
{
	color: white;
}
img
{
	background: white;
	margin-right: 0px;
	float:right;
}

